*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: white;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    padding-top: 50px;
    text-align: center;
    
}
ul{
    padding-top: 79px;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
}

a.logo{
width: 120px;
height: 151px;
background: url(header-logotip.png);
}


.container a{
    font-size: 18px;
    line-height: 21px;
    color: #8C8A8A;
    text-align: center;
}

.clas{
max-width: 1140px;
height: 450px;
padding-top: 38px;
}
.clas img{
    width: 100%;
}
.main{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;

}
.main-top-left{
max-width: 730px;
height: 500px;
background: #F0F0F0;
padding-left: 40px;
padding-top: 50px;


}
.main-top-right{
max-width: 400px;
height: 500px;
background: #F0F0F0;
padding-top: 50px;

}
.main-top-right-block{
    background: #F0F0F0;
    width: 100%;
}
.main-top-left a{
max-width: 393px;
height: 23px;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #4581B7;
background-color: #F0F0F0;

}
.main-top-left p{
max-width: 590px;
max-height: 350px;
font-size: 16px;
line-height: 27px;
color: #808080;
margin-top: 25px;
background-color: #F0F0F0;

}
.main-top-right a{
width: 150px;
height: 23px;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #4581B7;
margin-left: 40px;
background-color: #F0F0F0;
}
.main-top-right p{
    font-size: 16px;
    line-height: 27px;
    gap: 50px;
    flex-direction: column;
    /* or 169% */
    color: #808080; 
    margin: 40px;   
    background-color: #F0F0F0;
}

footer{
height: 150px;
margin-top: 30px;

}
.footer{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    padding-left: 40px;
    padding-top: 15px;
    background: #F0F0F0;
}
.footer a{
max-width: 263px;
height: 19px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #808080;
padding-bottom: 10px;
margin-top: 80px;
}
.footer p {
margin-top: 10px; 
width: 205px;
height: 29px;
font-weight: 700;
font-size: 25px;
line-height: 29px;
margin-bottom: 46px;
color: #808080;

}
.footer a{
max-width: 263px;
height: 19px;
font-weight: 400;
font-size: 16px;
line-height: 19px
}
.footer2{
    background: #F0F0F0;
}
.footer2 img{
    background: #F0F0F0;
    border-radius: ;
}

.footer3{
    flex-direction: column;
    justify-content: space-between;  
    background: #F0F0F0;
    padding-right: 40px;
}
.footer3 a{
    background: #F0F0F0;

}
.footer3 p{
    background: #F0F0F0;
    padding-right: 5px;
}

@media(max-width:1000px){
    .main{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .clas img{
        height: 100%;
        width: 75%;
    }

}
@media(max-width:700px){
    .container ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .main-top-left{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}
@media(max-width:500px){
    .main{
        gap: 60px;
        justify-content: center;
    }

    .main-top-left p{
        line-height: 20px;
        height: 100%;
    }
    .main-top-right{
        justify-content: center;
    }
    .main-top-right-block{
        text-align: center;
        align-items: center;
        width: 100%;
        font-size: 12px;
    }
}
@media(max-width:400px){
    .main-top-left p{
        line-height: 15px;
    }
}